@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container-fluid bg-dark py-2">
    <h1 class="text-danger h1 pt-3 pb-2 text-center mb-5">
        THIS PRODUCT İS NOT AVAILABLE İN DATABASE !
    </h1>
    <div style=" background-repeat:no-repeat;background-position:center;background-size:contain; background-image:url('https://itefix.net/sites/default/files/not_available.png')"
         class="w-75 h-75 m-auto"></div>

         <div class="container text-center bg-danger py-3 rounded rounded-pill mt-2 border border-light w-25">
            <a href="/home/index" class="text-light h2 font-weight-bold">Back Home page</a>
         </div>
</div>